In [1]:
a="c"
type(a)

str

In [5]:
x=int('123')

In [6]:
type(x)

int

In [7]:
print("HII")

HII

In [8]:
print(23)

23

In [9]:
age=45
print("My age is",age)

My age is 45

# Formating(f string)

In [11]:
print(f"My age is {age}")

My age is 45

In [13]:
name="adi"
age=20
print("My name is {} and age is {}".format(name,age))

My name is adi and age is 20

In [14]:
print("My name is {abc} and age is {defg}".format(defg=age,abc=name))

My name is adi and age is 20

Control Flow
Decisin making statement

1.if
2.if else
3.if elif else
4.Nested if
5.single statement suite

In [15]:
age=18
if age <18:
    print("You are not eligble for vote")
else:
    print("You are eligible")

You are eligible

In [17]:
age=int(input("Enter your age"))
if age <18:
    print("You are not eligble for vote")
else:
    print("You are eligible")

Enter your age45
You are eligible

The default datatype of the input function is string

In [24]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("Young Blood")
else:
    print("You are not young blood")

Enter the age67
You are not young blood

In [26]:
price=int(input("Enter the price"))
if price>1000:
    print("Final price is",price-(price*0.2))
else:
    print("Final price is",price-(price*0.3))

Enter the price2000
Final price is 1600.0

In [30]:
price=int(input("Enter the price"))
if price>3000:
    print("Final price is",price-(price*0.2))
elif price>=2000 and price <=3000:
    if price==2999:
        print("Congo you own a gift")
    print("Final price is",price-(price*0.3))
else:
    print("Final price is",price-(price*0.4))

Enter the price2999
Congo you own a gift
Final price is 2099.3

In [39]:
val=int(input("Enter the value"))
if(val<99):print("Go to Home")
else:
    print("no")

Enter the value78
Go to Home

Loop statement
1.While loop
2.for loop
3.nested loop
4.Loop control(break,continue,pass)

In [42]:
retirement_age=25
while retirement_age<=60:
    retirement_age=retirement_age+1
    print(retirement_age)
else:
    print("Time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Time for retirement

In [45]:
amount=1000
while amount!=0:
    amount=amount-100
    print(amount)

900
800
700
600
500
400
300
200
100
0

In [48]:
for i in range(1,5):
    print(i)

1
2
3
4

In [55]:
lst=['abd',123,"true","cat"]
for i in lst:
    print(i)

abd
123
true
cat

In [60]:
fruit=["mango","banana","cherry","grapes"]
for i in fruit:
    print(i)
    if i=="cherry":
        print("its a cherry")
        break

mango
banana
cherry
its a cherry

In [61]:
fruit="MANGO"
for i in fruit:
    print(i)

M
A
N
G
O

In [63]:
print(fruit[1])
print(fruit[2])
print(fruit[0])

A
N
M

In [65]:
range(1,6)

range(1, 6)

In [68]:
n=7
for i in range(1,n):
    print(i)

1
2
3
4
5
6

In [69]:
for i in range(11,19,2):
    print(i)

11
13
15
17

In [72]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [78]:
n=7
for i in range(1,n):
    for j in range(1,i+2):
        print("*",end="")
    print("\r")

**
***
****
*****
******
*******

In [81]:
lst=[1,2,3,4,5]
for i in lst:
    if i==2:
        print("its 2")
        break
    print(i)

1
its 2

In [82]:
lst=[1,2,3,4,5]
for i in lst:
    if i==2:
        print("its 2")
        continue
    print(i)

1
its 2
3
4
5