In [18]:
import mysql.connector


mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aditya@2003",
    auth_plugin='mysql_native_password'
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

<mysql.connector.connection.MySQLConnection object at 0x000002214B245D50>
('aditya',)
('db1',)
('giet',)
('information_schema',)
('my_database',)
('mysql',)
('new_schema',)
('performance_schema',)
('practice',)
('school',)
('sys',)

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aditya@2003",
    auth_plugin='mysql_native_password'
)

print(mydb)

mycursor2 = mydb.cursor()

# Create database if not exists
mycursor2.execute("CREATE DATABASE IF NOT EXISTS OPPO_ENCO_BUDS2")

# Switch to the database
mycursor2.execute("USE OPPO_ENCO_BUDS2")

# Create table if not exists in the specified database
mycursor2.execute("CREATE TABLE IF NOT EXISTS new_table (c1 INT, c2 VARCHAR(34), c3 INT)")

mydb.close()

<mysql.connector.connection.MySQLConnection object at 0x000002214B2CDE50>

In [26]:
import mysql.connector


mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aditya@2003",
    auth_plugin='mysql_native_password'
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("INSERT INTO OPPO_ENCO_BUDS2.new_table values(34,35,36),(33,23,21),(23,56,87),(33,67,76) ")
mydb.commit()
mydb.close()

<mysql.connector.connection.MySQLConnection object at 0x0000022148EE53D0>

In [30]:
import mysql.connector


mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aditya@2003",
    auth_plugin='mysql_native_password'
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("select * from OPPO_ENCO_BUDS2.new_table")
for i in mycursor.fetchall():
    print(i)

<mysql.connector.connection.MySQLConnection object at 0x000002214B2EDA10>
(34, '35', 36)
(33, '23', 21)
(23, '56', 87)
(33, '67', 76)

In [11]:
import mysql.connector
mydb1=mysql.connector.connect(host="localhost",
    user="root",
    password="Aditya@2003",
    auth_plugin='mysql_native_password'
)
print(mydb1)
mycursor=mydb1.cursor()
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DAFF0BEBD0>
('aditya',)
('db1',)
('giet',)
('information_schema',)
('my_database',)
('mysql',)
('new_schema',)
('oppo_enco_buds2',)
('performance_schema',)
('practice',)
('school',)
('sys',)